<div class="orders">
  <div class="container">
    <h3>Buyers</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="list-group w-100 text-center">
          <a
            *ngFor="let buyer of buyers"
            href="#"
            class="list-group-item list-group-item-action list-group-item-dark active"
          >
            {{ buyer.name }}
          </a>
          <a class="btn btn-danger new-order" href="#" role="button">
            Add new Buyer
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
