<div class="orders">
  <div class="container">
    <h3>Orders</h3>
    <div class="row" *ngIf="orders.length > 0">
      <div class="col-md-4" *ngFor="let order of orders">
        <div class="card">
          <div class="card-header">Order {{ order.id }}</div>
          <div class="card-body">
            <h4 class="card-title">{{ order.product.name }}</h4>
            <p class="card-text">{{ order.buyer.name }}</p>
          </div>
          <div class="card-footer text-muted">
            {{ order.created_at }}
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Order 1
          </div>
          <div class="card-body">
            <h4 class="card-title">product name</h4>
            <p class="card-text">buyer name</p>
          </div>
          <div class="card-footer text-muted">
            created at
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Order 1
          </div>
          <div class="card-body">
            <h4 class="card-title">product name</h4>
            <p class="card-text">buyer name</p>
          </div>
          <div class="card-footer text-muted">
            created at
          </div>
        </div>
      </div> -->
    </div>
    <a class="btn btn-danger new-order" role="button">
      Create new order
    </a>
  </div>
</div>
