<div class="orders">
  <div class="container">
    <h3>Products</h3>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <div class="card-header">
            {{ product.id }}
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
          </div>
          <div class="card-footer text-muted bg-danger">
            Buy now
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
