/* You can add global styles to this file, and also import other style files */
body {
  width: 100vw;
  background-color: #1d1d1d;
  margin: 0;
  font-family: helvetica;
}
h3 {
  margin: 20px;
  padding: 10px;
  color: crimson;
  border-bottom: 1px solid #333;
  text-align: center;
}
.card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #292929;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card-footer {
  width: 100%;
  text-align: center;
}
.card-header {
  color: crimson;
}

.card:hover {
  height: 270px;
}

.new-order {
  display: block;
  width: 200px;
  margin: 20px auto;
}
